@use '@/styles/mixins' as *;

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.label {
  color: var(--color-light-900);
}

.container {
  @include flex(flex, center, none);

  padding: 0 0.75rem;
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;

  @include transition-basic(border-color, background-color);

  &:hover {
    border-color: var(--color-light-900);
  }

  &:focus-within {
    border-color: var(--color-accent-500);
    outline: 1px solid var(--color-accent-500);
  }
}

.input {
  @include width-height(100%, 36px);

  border: none;

  font: inherit;
  color: var(--color-light-100);

  background: transparent;
  outline: none;

  &::placeholder {
    color: var(--color-light-900);
  }
}

.adornment {
  @include flex(flex, center, center);

  color: var(--color-light-700);
}

.startAdornment {
  margin-right: 0.5rem;
}

.endAdornment {
  margin-left: 0.5rem;
}

.errorMessage {
  position: absolute;

  @include top-left(calc(100% + 0.25rem), 0);

  z-index: 1;
}

.error {
  border-color: var(--color-danger-500);

  &:hover {
    border-color: var(--color-danger-500);
  }

  &:focus-within {
    border-color: var(--color-danger-500);
    outline: 1px solid var(--color-danger-500);
  }
}

.disabled {
  cursor: not-allowed;
  border-color: var(--color-dark-100);
  background-color: var(--color-dark-700);

  &:hover {
    border-color: var(--color-dark-100);
  }

  .input {
    cursor: not-allowed;
    color: var(--color-dark-100);

    &::placeholder {
      color: var(--color-dark-100);
    }
  }

  .adornment {
    color: var(--color-dark-100);
  }
}
