@use '../../../styles/mixins' as *;

.languageTrigger {
  width: 10.2rem;
  border-radius: 0;
}

.flag {
  overflow: hidden;
  flex: 0 0 auto;
  border-radius: 50%;

  @include width-height(1.25rem);

  object-fit: cover;
}
