@use '@/styles/mixins' as *;

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  margin-bottom: 0.25rem;
  color: var(--color-light-900);

  .container:has(.textarea:disabled) & {
    color: var(--color-dark-100);
  }
}

.textarea {
  cursor: text;
  resize: none;
  scrollbar-color: var(--color-dark-300) transparent;
  scrollbar-width: thin;

  box-sizing: border-box;

  @include width-height(100%);

  min-height: 5.25rem;
  padding: 0.75rem 1rem;
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;

  font: inherit;
  color: var(--color-light-100);
  overflow-wrap: break-word;

  background-color: var(--color-dark-500);
  outline: none;

  &::-webkit-scrollbar {
    @include width-height(0.25rem);
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0.9rem;
    background: var(--color-dark-300);
  }

  &::placeholder {
    color: var(--color-light-900);
  }

  &:hover:not(:disabled, :focus, :focus-visible) {
    border-color: var(--color-dark-100);
  }

  &:focus:not(:focus-visible, :disabled) {
    border-color: var(--color-light-100);
  }

  &:focus-visible:not(:disabled):placeholder-shown {
    box-shadow: 0 0 0 2px var(--color-accent-700);
  }

  &:focus-visible:not(:disabled, :placeholder-shown) {
    border-color: var(--color-light-100);
    box-shadow: none;
  }

  &:disabled {
    cursor: not-allowed;
    border-color: var(--color-dark-100);
    color: var(--color-dark-100);
    background-color: var(--color-dark-500);

    &::placeholder {
      color: var(--color-dark-100);
    }
  }

  @include transition-basic(border-color, box-shadow, color);
}

.activeState {
  .textarea {
    border-color: var(--color-light-100);
  }
}

.errorState {
  .textarea,
  .textarea:hover,
  .textarea:focus,
  .textarea:focus-visible {
    border-color: var(--color-danger-500) !important;
    box-shadow: none !important;
  }

  .errorMessage {
    position: absolute;

    @include top-left(calc(100% + 0.25rem), 0);

    z-index: 1;
    color: var(--color-danger-500);
  }
}
