@use '@/styles/mixins' as *;

.list {
  @include flex(flex);

  width: 100%;
  border-bottom: 2px solid var(--color-dark-100);
}

.trigger {
  all: unset;

  cursor: pointer;
  user-select: none;

  position: relative;

  flex: 1;

  box-sizing: border-box;
  height: 36px;
  padding: 0 1rem;
  border-radius: 2px;

  color: var(--color-dark-100);

  &::after {
    content: '';

    position: absolute;
    right: 0;
    bottom: -2px;
    left: 0;

    height: 2px;

    background: transparent;

    @include transition-basic(background-color);
  }

  &:hover:not(:disabled) {
    background: var(--color-dark-500);
  }

  &:focus-visible {
    z-index: 2;
    outline: none;
    box-shadow: 0 0 0 2px var(--color-accent-500);
  }

  &:disabled {
    cursor: default;
    color: var(--color-dark-100);
    opacity: 0.5;
  }

  &:active:not(:disabled) {
    background: var(--color-dark-300);
  }

  &[data-state='active'] {
    color: var(--color-accent-500);
    background: transparent;
  }

  &[data-state='active']::after {
    background: var(--color-accent-500);
  }

  &:disabled::after {
    background: transparent;
  }

  @include flex(flex, center, center);

  @include transition-basic(background-color, color);
}
