$desktop-width: 1280px;
$tablet-width: 768px;
$mobile-width: 360px;
$container-width: 1156px;
$content-width: 972px;
$modal-width-xs: 366px;
$modal-width-s: 378px;
$modal-width-m: 492px;
$modal-width-l: 644px;
$modal-width-xl: 972px;
$container-padding-tablet: 30px;
$container-padding-mobile: 15px;
