:root {
  --font-family-primary: 'Inter Variable', sans-serif;
  --font-family-secondary: 'Roboto Variable', sans-serif;

  // line heights
  --line-height-3xs: 112%;
  --line-height-xxs: 116%;
  --line-height-xs: 133%;
  --line-height-s: 138%;
  --line-height-m: 150%;
  --line-height-l: 171%;
  --line-height-xl: 180%;

  // font sizes
  --font-size-4xs: 0.375rem; // 6
  --font-size-3xs: 0.5rem; // 8
  --font-size-xxs: 0.625rem; // 10
  --font-size-xs: 0.75rem; // 12
  --font-size-s: 0.875rem; // 14
  --font-size-m: 1rem; // 16
  --font-size-l: 1.125rem; // 18
  --font-size-xl: 1.25rem; // 20
  --font-size-xxl: 1.625rem; // 26

  // font weights
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  // transition
  --transition-duration-basic: 0.3s;
  --transition-function-basic: ease;
}

@mixin typography($fontSize, $lineHeight, $fontWeight, $fontFamily: var(--font-family-primary)) {
  margin: 0;

  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: var(--color-text-primary);
}

.typography-large {
  @include typography(var(--font-size-xxl), var(--line-height-s), var(--font-weight-semi-bold));
}

.typography-h1 {
  @include typography(var(--font-size-xl), var(--line-height-xl), var(--font-weight-bold));
}

.typography-h2 {
  @include typography(var(--font-size-l), var(--line-height-xs), var(--font-weight-bold));
}

.typography-h3 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-semi-bold));
}

// regular_text 16
.typography-subtitle1 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-regular));
}

// bold_text 16
.typography-subtitle2 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-bold));
}

// regular_text 14
.typography-body1 {
  @include typography(var(--font-size-s), var(--line-height-l), var(--font-weight-regular));
}

// medium_text 14
.typography-body2 {
  @include typography(var(--font-size-s), var(--line-height-l), var(--font-weight-medium));
}

// bold_text 14
.typography-body3 {
  @include typography(var(--font-size-s), var(--line-height-l), var(--font-weight-bold));
}

// small_text
.typography-caption1 {
  @include typography(var(--font-size-xs), var(--line-height-xs), var(--font-weight-regular));
}

// semi-bold small_text
.typography-caption2 {
  @include typography(var(--font-size-xs), var(--line-height-xs), var(--font-weight-semi-bold));
}

// regular_link
.typography-link {
  @include typography(var(--font-size-s), var(--line-height-l), var(--font-weight-regular));

  text-decoration: underline;
  text-decoration-skip-ink: none;
}

// small_link
.typography-subtitle-link {
  @include typography(var(--font-size-s), var(--line-height-xs), var(--font-weight-regular));

  text-decoration: underline;
  text-decoration-skip-ink: none;
}

// The following is used in reCAPTCHA
.typography-caution {
  @include typography(
    var(--font-size-xs),
    var(--line-height-xxs),
    var(--font-weight-medium),
    var(--second-family)
  );
}

// Recaptcha - error
.typography-caution-error {
  @include typography(
    var(--font-size-xxs),
    var(--line-height-xxs),
    var(--font-weight-regular),
    var(--second-family)
  );

  color: var(--color-danger-500); // in Figma FF0000
}

// Recaptcha - signature
.typography-signature {
  @include typography(
    var(--font-size-3xs),
    var(--line-height-3xs),
    var(--font-weight-medium),
    var(--second-family)
  );
}

// Recaptcha - signature (legal)
.typography-signature-legal {
  @include typography(
    var(--font-size-4xs),
    var(--line-height-xxs),
    var(--font-weight-medium),
    var(--second-family)
  );
}
