:root {
  --font-family-primary: 'Inter Variable', sans-serif;
  --font-family-secondary: 'Roboto Variable', sans-serif;

  // line heights
  --line-height-3xs: 112%;
  --line-height-xxs: 116%;
  --line-height-xs: 133%;
  --line-height-s: 138%;
  --line-height-m: 150%;
  --line-height-l: 171%;
  --line-height-xl: 180%;

  // font sizes
  --font-size-4xs: 0.375rem; // 6
  --font-size-3xs: 0.5rem; // 8
  --font-size-xxs: 0.625rem; // 10
  --font-size-xs: 0.75rem; // 12
  --font-size-s: 0.875rem; // 14
  --font-size-m: 1rem; // 16
  --font-size-l: 1.125rem; // 18
  --font-size-xl: 1.25rem; // 20
  --font-size-xxl: 1.625rem; // 26

  // font weights
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  // transition
  --transition-duration-basic: 0.3s;
  --transition-function-basic: ease;
}
