.typography {
  font-style: normal;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-justify {
  text-align: justify;
}

.noWrap {
  overflow: hidden;
  text-overflow: ellipsis; // if we need
  white-space: nowrap;
}

.gutterBottom {
  margin-bottom: 0.35em;
}
