@use '@/styles/mixins' as *;

.root {
  @include flex(flex, space-between, flex-start);

  gap: 1.5rem;

  width: 100%;
  max-width: 24rem;
  padding: 0.75rem 1.5rem;
  border: 1px solid transparent;
  border-radius: 0.125rem;

  &.error {
    border-color: var(--color-danger-500);
    color: var(--color-light-100);
    background-color: var(--color-danger-900);
  }

  &.success {
    border-color: var(--color-success-500);
    color: var(--color-light-100);
    background-color: var(--color-success-900);
  }

  &.warning {
    border-color: var(--color-warning-500);
    color: var(--color-light-100);
    background-color: var(--color-warning-900);
  }
}

.content {
  @include flex(flex, null, center);

  flex-wrap: wrap;
  gap: 0.25rem;
}

.title {
  white-space: nowrap;
}

.closeBtn {
  @include flex(flex, center, center);

  cursor: pointer;

  flex-shrink: 0;

  padding: 0;
  border: none;

  color: inherit;

  background: transparent;

  svg {
    pointer-events: none;
  }
}
