@use '@/styles/mixins' as *;

.header {
  width: 100%;
  min-height: 3.75rem;
  border-bottom: 1px solid var(--color-dark-300);

  color: var(--color-light-100);

  background-color: var(--color-dark-700);
}

.container {
  @include container;
  @include flex(flex, space-between, center);

  min-height: 3.75rem;
}

.logo {
  color: var(--color-light-100);
}

.logoLink {
  color: inherit;
  text-decoration: none;

  &:focus-visible {
    border-radius: 2px;
    outline: 2px solid var(--color-accent-700);
    outline-offset: 2px;
  }
}

.actions {
  @include flex(flex, flex-end, center);

  gap: 2.25rem;
}

.notificationButton {
  @include width-height(1.5rem);

  cursor: pointer;

  min-width: 1.5rem;
  padding: 0;
  border: 0;

  color: var(--color-light-100);

  background-color: transparent;

  @include transition-basic(color);

  &:hover {
    color: var(--color-light-900);
  }

  &:focus-visible {
    border-radius: 2px;
    outline: 2px solid var(--color-accent-700);
    outline-offset: 2px;
  }
}

.mobileMenuButton {
  @include width-height(1.5rem);

  cursor: pointer;

  display: none;

  min-width: 1.5rem;
  padding: 0;
  border: 0;

  color: var(--color-light-100);

  background-color: transparent;

  @include transition-basic(color);

  &:hover {
    color: var(--color-light-900);
  }

  &:focus-visible {
    border-radius: 2px;
    outline: 2px solid var(--color-accent-700);
    outline-offset: 2px;
  }
}

.mobileMenu {
  display: none;
}

.mobileMenuItem {
  justify-content: flex-start;
  width: 100%;
  min-height: 2.25rem;
  padding: 0.375rem 0.7rem;
}

.authActions {
  @include flex(flex, flex-end, center);

  gap: 1.5rem;
}

@media (width <= 37.5rem) {
  .container {
    flex-wrap: nowrap;
    gap: 1.5rem;

    min-height: 3.75rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  .actions {
    position: relative;
    flex-wrap: nowrap;
    gap: 1.5rem;
    width: auto;
  }

  .notificationButton,
  .authActions {
    display: none;
  }

  .mobileMenuButton {
    @include flex(inline-flex, center, center);
  }

  .mobileMenu {
    position: absolute;
    z-index: 20;
    top: calc(100% + 0.5rem);
    right: 0;

    display: flex;
    flex-direction: column;

    min-width: 8.5rem;
    border: 1px solid var(--color-dark-100);
    border-radius: 2px;

    background-color: var(--color-dark-500);
  }
}
