@use '@/styles/mixins' as *;

.navBar {
  @include flex(flex, none, none);
  @include width-height(13.75rem, 100%);

  position: relative;

  flex-direction: column;

  width: $sidebar-width;
  height: 100%;
  padding-top: 4.5rem;
  padding-bottom: 2.25rem;
}

.navBar > ul {
  @include flex(flex, none, none);

  flex-direction: column;
  gap: 0.9rem;

  margin: 0;
  padding: 0;

  list-style: none;
}

.navBar > ul > li {
  display: block;
  width: 100%;
}

.navBar > ul > li:nth-child(6) {
  margin-top: 2.1rem;
}

%nav-button-base {
  @include flex(flex, none, center);
  @include transition-basic(color, border-color);

  cursor: pointer;

  gap: 0.75rem;

  padding: 0.2rem 0.5rem;
  border: 2px solid transparent;
  border-radius: 4px;

  font: inherit;
  color: var(--color-light-100);
  text-align: left;
  text-decoration: none;

  background: none;

  &:hover {
    color: var(--color-accent-100);
  }

  &:focus-visible {
    border-color: var(--color-accent-300);
    outline: none;
  }
}

.navItem {
  @extend %nav-button-base;

  width: fit-content;
  margin-left: -0.5rem;
}

.activeItem {
  color: var(--color-accent-300);

  &:hover {
    color: var(--color-accent-300);
  }
}

.logOutBtn {
  @extend %nav-button-base;

  width: fit-content;
  margin-top: auto;
  margin-left: -0.5rem;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  color: var(--color-light-900);
}

.line {
  position: absolute;

  @include top-right(0);

  bottom: 0;
  width: 1px;
  background-color: var(--color-dark-300);
}
