.table {
  border-collapse: collapse;
  width: 100%;
}

.head {
  background-color: var(--color-dark-500);
}

.row {
  border-bottom: 1px solid var(--color-dark-500);

  &:last-child {
    border-bottom: none;
  }
}

.headerCell,
.cell {
  padding: 0.75rem 1.5rem;
  text-align: left;
  vertical-align: middle;
}
