@use '../../styles/mixins' as *;

.wrapper {
  position: relative;
  display: inline-block;
}

%root {
  @include flex(inline-flex, center, center);

  user-select: none;

  overflow: hidden;

  border-radius: 100%;

  vertical-align: middle;

  background-color: var(--color-dark-900);
}

.root {
  @extend %root;
}

%image {
  @include width-height(100%);

  border-radius: inherit;
  object-fit: cover;
}

.image {
  @extend %image;
}

.fallback {
  @include flex(flex, center, center);
  @include width-height(100%);

  border: 1px solid var(--color-dark-300);
  border-radius: inherit;
  background-color: var(--color-dark-500);
}

%xs {
  @include width-height(1.5rem);
}

.xs {
  @extend %xs;
}

.s {
  @include width-height(2.25rem);
}

.m {
  @include width-height(3rem);
}

.l {
  @include width-height(3.75rem);
}

// Main Avatar styles
.xl {
  @include width-height(12rem);
}

.xxl {
  @include width-height(12.75rem);
}

.closeButton {
  cursor: pointer;

  position: absolute;
  z-index: 2;

  box-sizing: content-box;
  border: 4px solid var(--color-dark-900);
  border-radius: 50%;

  @include width-height(1.5rem);
  @include flex(flex, center, center);
  @include transition-basic(transform);

  &:hover {
    transform: scale(1.07);
  }
}

.closeButton-xl {
  @include top-right(8px);
}

.closeButton-xxl {
  @include top-right(10px);
}

.closeButtonIcon {
  border-radius: 50%;
}

// AvatarBlock
.avatarGroup {
  @include flex(flex, center, center);

  flex-direction: row;
  max-width: 4.5rem;
}

.rootBlock {
  @extend %root;
  @extend %xs;

  position: relative;
  z-index: 1;

  // margin-left: -54%;
  margin-left: -0.5rem;

  &:first-child {
    z-index: 3;
    margin-left: 0;
  }

  &:nth-child(2) {
    z-index: 2;
  }

  &:last-child {
    z-index: 1;
  }
}

.image {
  @include width-height(100%);

  border-radius: inherit;
  object-fit: cover;
}

.blockImage {
  @extend %image;
}

//// Add if we will need
// .rootBlock:hover {
//  z-index: 4;
//  transform: scale(1.07);
//  @include transition-basic(transform);
// }
